<ul class="sidebar-menu" data-widget="tree">
<li class="header">Menu</li>

<-- Optionally, you can add icons to the links --

<li class="active"><a href="https://twitter.com/sudoaptupgrade"><i class="fa fa-twitter"></i></i>Twitter<span></span></a></li>
<li><a href="https://github.com/iColdPlayer"><i class="fa fa-github"></i> <span>GitHub</span></a></li>
<li class="treeview">
    <a href="mailto:unknown.com@mail.com"><i class="fa fa-envelope"></i> <span>Email</span>
    <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
    <li><a href="mailto:unknown.com@mail.com">Email To Me</a></li>
    <li><a href="#">Email To You</a></li>
    </ul>
</li>
</ul>

