@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Selamat Datang</h1>
    <p>This is my first time using ASP.NET MVC</p>
    You can also visit my personal blog <a href="https://dev.notnoob.com">here</a> 
</div>
